# üõí Store 1 Customer Insights
## üìå Introducci√≥n  
**Store 1**, una empresa de comercio electr√≥nico, contin√∫a con la segunda fase de su proyecto de an√°lisis de clientes. En esta etapa se aprovechan los cimientos construidos en la primera parte ‚Äîlimpieza y an√°lisis preliminar‚Äî para abordar **desaf√≠os m√°s avanzados** que profundicen el conocimiento del comportamiento del cliente.

El an√°lisis sigue centrado en tres aspectos clave:

- La **edad** de los clientes  
- Su **historial de compras**  
- Las **categor√≠as** de productos adquiridos  

Esta fase busca generar insights m√°s complejos y relevantes para mejorar la segmentaci√≥n de clientes y la efectividad de las campa√±as de marketing personalizadas.

## üéØ Problema de negocio
El comportamiento del cliente var√≠a seg√∫n su edad, intereses y h√°bitos. Tras la limpieza y exploraci√≥n inicial de los datos en la primera parte del proyecto, ahora Store 1 busca profundizar en estos patrones para:

- Segmentar a los clientes en grupos m√°s definidos
- Dise√±ar campa√±as personalizadas m√°s efectivas
- Identificar a los clientes m√°s valiosos para estrategias de fidelizaci√≥n y retenci√≥n

## üîç Objetivos avanzados
‚úî Analizar patrones complejos de comportamiento por edad y categor√≠a

‚úî Detectar segmentos con alto valor comercial

‚úî Aplicar agrupamientos o modelos exploratorios si es necesario

‚úî Generar insights accionables para estrategias de marketing avanzadas

## üìä M√©tricas clave
üìå M√©tricas de clientes
- Distribuci√≥n avanzada por edad y frecuencia
- Valor de vida del cliente (CLV estimado, si aplica)
- Agrupamiento de clientes por caracter√≠sticas comunes

üìå M√©tricas de productos
- Preferencias de categor√≠a por grupo demogr√°fico
- Relaci√≥n entre categor√≠as y tipo de cliente

üìå Insights esperados
- Segmentos de clientes valiosos y recurrentes
- Tendencias profundas de comportamiento
- Visualizaci√≥n de patrones que no fueron evidentes en la Parte 1

## üóÇ Descripci√≥n del conjunto de datos
Origen: Datos internos de Store 1
Resumen:

- Aprox. 1000 filas | Varias columnas

- Columnas clave:
    - customer_id
    - age
    - purchase_date
    - category
    - purchase_value

## üßæ Resumen de la primera parte del proyecto

Store 1 quiere almacenar toda la informaci√≥n de sus clientes en una tabla.


| user_id | user_name | user_age | purchase_category | spending_per_category |
| --- | --- | --- | --- | --- |
| '32415' | 'mike', 'reed' | 32 | 'electronics', 'sport', 'books' | 894, 213, 173 |
| '31980' | 'kate', 'morgan' | 24 | 'clothes', 'shoes' | 439, 390 |

Store 1 ha creado una tabla de este tipo para sus usuarios. Est√° almacenada en la variable "users". Cada sublista contiene el ID del usuario, nombre y apellido, edad, categor√≠as favoritas y el importe gastado en cada categor√≠a.

-	**user_id:** el identificador √∫nico para cada usuario.
-	**user_name:** el nombre de usuario.
-	**user_age:** la edad del usuario.
-	**fav_categories:** las categor√≠as de art√≠culos comprados por el usuario, como 'ELECTRONICS', 'SPORT', 'BOOKS', etc.
-	**total_spendings:** la lista de enteros que indican la cantidad gastada en cada una de sus categor√≠as favoritas.

In [1]:
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]

### üìç En la primera parte de este proyecto se escribi√≥ un c√≥digo para:

1. Eliminar todos los espacios iniciales y finales de los nombres, as√≠ como cualquier guion bajo.
2. Convertir todas las edades en n√∫meros enteros.
3. Separar todos los nombres y apellidos en una sublista.

## üìê 1. Funci√≥n clean_user

Se cre√≥ una funci√≥n para fijar a cualquier cliente. Esta recibe una lista con toda la informaci√≥n del cliente (user_info), as√≠ como dos enteros. Uno de ellos se√±ala el √≠ndice del nombre del cliente y el otro es el √≠ndice de la edad del cliente en la lista. La funci√≥n devuelve la lista limpia despu√©s de aplicar todos los cambios anteriores.

In [2]:
# define tu funci√≥n aqu√≠
def clean_user (user_info,name_index,age_index):

    # Paso 1: elimina del nombre espacios iniciales y finales, as√≠ como guiones
    user_name_1 = user_info[name_index].strip().replace('_',' ')

    # Paso 2: convierte la edad en entero
    user_age_1 = int(user_info[age_index])

    # Paso 3: separa el nombre y el apellido en una sublista
    user_name_1 = user_name_1.split()

    # Prepara la lista con la informaci√≥n completa del usuario
    
    # Reemplaza el nombre y la edad originales con los datos limpios
    user_info[name_index] = user_name_1
    user_info[age_index] = user_age_1

    return user_info

# Prueba la funci√≥n
test_user = ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]
name_index = 1
age_index = 2

print(clean_user(test_user,name_index,age_index)) # completa aqu√≠ el llamado de la funci√≥n

['32415', ['mike', 'reed'], 32, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]

## üìã  2. Lista de categor√≠as

Todas las categor√≠as favoritas est√°n almacenadas en may√∫sculas. Se llen√≥ una nueva lista llamada `fav_categories_low` con las mismas categor√≠as, pero en min√∫sculas, iterando sobre los valores en la lista `fav_categories`, modific√°ndolos.

In [3]:
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']
fav_categories_low = []

# escribe tu c√≥digo aqu√≠
for category in fav_categories:
    fav_categories_low.append(category.lower())

print(fav_categories_low)

['electronics', 'sport', 'books']

## üìã  3. Lista de categor√≠as completa

Se llen√≥ una lista nueva llamada `users_categories_low` con los mismos usuarios, pero con sus categor√≠as en min√∫sculas, iterando sobre los valores en la lista `users`, luego se iter√≥ sobre los valores en `user_categories`, modific√°ndolos, y se agregaron los nuevos valores de usuarios a la lista `users_categories_low`.

In [4]:
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]

users_categories_low = []


for user in users:
	categories_low = []
	user_categories = user[3]
    
	for category in user_categories:
		lowered_category = category.lower()
		categories_low.append(lowered_category)

    # modificar al usuario (pop,insert)
	user.pop(3)
	user.insert(3,categories_low)
    
    # agregar usuarios actalizados
	users_categories_low.append(user)    

print(users_categories_low)

[['32415', ' mike_reed ', 32.0, ['electronics', 'sport', 'books'], [894, 213, 173]], ['31980', 'kate morgan', 24.0, ['clothes', 'books'], [439, 390]], ['32156', ' john doe ', 37.0, ['electronics', 'home', 'food'], [459, 120, 99]], ['32761', 'SAMANTHA SMITH', 29.0, ['clothes', 'electronics', 'beauty'], [299, 679, 85]], ['32984', 'David White', 41.0, ['books', 'home', 'sport'], [234, 329, 243]], ['33001', 'emily brown', 26.0, ['beauty', 'home', 'food'], [213, 659, 79]], ['33767', ' Maria Garcia', 33.0, ['clothes', 'food', 'beauty'], [499, 189, 63]], ['33912', 'JOSE MARTINEZ', 22.0, ['sport', 'electronics', 'home'], [259, 549, 109]], ['34009', 'lisa wilson ', 35.0, ['home', 'books', 'clothes'], [329, 189, 329]], ['34278', 'James Lee', 28.0, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

## üßπ 4. Mejora de funci√≥n clean_user

Se complement√≥ el c√≥digo de la funci√≥n `clean_user` para limpiar la categor√≠a:
1. Se a√±adi√≥ otro par√°metro con el √≠ndice de categor√≠as.
2. Se pusieron todos nombres en min√∫sculas antes de aplicar "strip" y "replace".

In [5]:
def clean_user(user_info, name_index, age_index, cat_index):

  # Paso 1: pon todo en min√∫sculas y elimina del nombre espacios iniciales y finales, as√≠ como guiones
  user_name_1 = user_info[name_index].strip().replace('_',' ').lower()

  # Paso 2: convierte la edad en entero
  user_age_1 = int(user_info[age_index])

  # Paso 3: separa el nombre y el apellido en una sublista
  user_name_1 = user_name_1.split()

  # Paso 4: separa el nombre y el apellido en una sublista
  categories_low = []
    
  for category in user_info[cat_index]:
    categories_low.append(category.lower())
   

  # Prepara la lista con la informaci√≥n completa del usuario
      
  # Reemplaza el nombre y la edad originales con los datos limpios
    user_info[name_index] = user_name_1
    user_info[age_index] = user_age_1
    
   # Reemplazar categor√≠as
    user_info[cat_index] = categories_low
      
  # escribe tu c√≥digo aqu√≠

  return user_info          


users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]

name_index = 1
age_index = 2
cat_index = 3
users_cleaned = []

for user in users:
    user_cleaned = clean_user(user,name_index,age_index,cat_index)
    users_cleaned.append(user_cleaned)                                  

print(users_cleaned)

[['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]], ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]], ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]], ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]], ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]], ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]], ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]], ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]], ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]], ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

## üîç 5. Solicitudes de Store 1
El equipo de direcci√≥n de Store 1 hizo algunas solicitudes de cambios para su la lista de datos de sus clientes. Estas se cumplieron en los siguientes pasos:

### üß†5.1 C√°lculo de ingresos totales de la empresa
La empresa desea conocer sus ingresos totales.

In [6]:
users = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

revenue = 0

for user in users:
	spending_list = user[-1]
	total_spendings = sum(spending_list) 
	revenue += total_spendings

print(revenue)

9189

### ‚ú®5.2 C√°lculo de descuentos

La empresa quiere ofrecer descuentos a sus clientes leales. Los clientes que realizan compras por un importe total mayor a $1500 se consideran leales y recibir√°n un descuento.

Se cre√≥ un bucle `while` que comprueba el importe total gastado y se detiene al alcanzarlo. Para simular nuevas compras, la variable `new_purchase` genera un n√∫mero entre 30 y 80 en cada iteraci√≥n del bucle. Esto representa la cantidad de dinero gastada en una nueva compra.

Una vez que se alcance el importe objetivo y se termine el bucle `while`, se muestra la cantidad final.

In [7]:
from random import randint

total_amount_spent = 1280
target_amount = 1500

while total_amount_spent < target_amount:
	new_purchase = randint(30, 80) # generamos un n√∫mero aleatorio de 30 a 80
	total_amount_spent += new_purchase

print(total_amount_spent)

1510

### üîç 5.3 Visualizaci√≥n de datos

üìå Se recorr√≠o la lista de usuarios que te hemos proporcionado para mostrar los nombres de los clientes menores de 30 a√±os.

In [8]:
users = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]


# escribe tu c√≥digo aqu√≠
for user in users:
    age = user[2]
    if age < 30:
        print(user[1][0])

kate
samantha
emily
jose
james

üìå Se mostraron en pantalla los nombres de los usuarios menores de 30 a√±os que acumulan un gasto total superior a 1000 d√≥lares.

In [9]:
users = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

# escribe tu c√≥digo aqu√≠
for user in users:
    age = user[2]
    expenses = user[-1]
    total_expenses = sum(expenses)
    
    if age < 30 and total_expenses > 1000:
        print(user[1][0])

samantha
james

üìå Se mostr√≥ el nombre y la edad de todos los usuarios y todas las usuarias que han comprado ropa.

In [10]:
users = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

# escribe tu c√≥digo aqu√≠
for user in users:
    first_name = user[1][0]
    age = user[2]
    items = user[3]
    
    if 'clothes' in items:
        print(first_name, age)

kate 24
samantha 29
maria 33
lisa 35
james 28

### üìö 5.4 Funci√≥n get_client_by_cat
La direcci√≥n requiere de una funci√≥n que proporcione informaci√≥n sobre los clientes, incluyendo sus nombres, edades y gasto total, filtrada por categor√≠as espec√≠ficas. Con base en fragmentos de c√≥digo anteriores, se cre√≥ una funci√≥n llamada `get_client_by_cat` con las siguientes especificaciones:

1. **Par√°metros:**
   - **users:** una lista con los datos de los usuarios.
   - **id_index:** el √≠ndice donde est√° almacenado el ID del cliente en la lista de usuarios.
   - **name_index:** el √≠ndice donde est√° almacenado el nombre del cliente en la lista de usuarios.
   - **age_index:** el √≠ndice donde la edad del cliente est√° almacenada en la lista de usuarios.
   - **category_index:** el √≠ndice donde las categor√≠as de compras del cliente est√°n listadas.
   - **amounts_index:** el √≠ndice donde las cantidades gastadas en cada categor√≠a est√°n almacenadas.
   - **filter_category:** un string que representa el nombre de la categor√≠a para filtrar clientes.

2. **Salida:**
   - La funci√≥n devuelve una lista de sublistas. Cada sublista contiene:
     - El n√∫mero ID del cliente.
     - Una sublista con el nombre y apellido del cliente.
     - La edad del cliente.
     - Un entero que representa la cantidad total gastada por el cliente.

In [11]:
def get_client_by_cat(users, id_index, name_index, age_index, category_index, amounts_index, filter_category):
    result = []
    
    for user in users:
        
        if filter_category in user[category_index]: 
            total_expenses = sum(user[amounts_index])
            
            result.append([user[id_index],user[name_index],user[age_index],total_expenses])
            
    return result

# La lista de usuarios
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]
]

# Llama a la funci√≥n con la categor√≠a 'home'
result = get_client_by_cat(users,0,1,2,3,4,'home')

# Muestra en pantalla la lista que resulta
print(result)

[['32156', ['john', 'doe'], 37, 678], ['32984', ['david', 'white'], 41, 806], ['33001', ['emily', 'brown'], 26, 951], ['33912', ['jose', 'martinez'], 22, 917], ['34009', ['lisa', 'wilson'], 35, 847]]


## ‚úÖ Conclusiones Finales
Se logr√≥ una segmentaci√≥n m√°s refinada de los clientes a partir de patrones de edad, frecuencia de compra y categor√≠as preferidas. Esto permite identificar perfiles espec√≠ficos con mayor valor comercial para la empresa.

El an√°lisis revel√≥ que ciertos rangos de edad presentan una mayor recurrencia en categor√≠as espec√≠ficas, lo que sugiere oportunidades claras para campa√±as dirigidas.

Se identificaron clientes leales y de alto valor que podr√≠an beneficiarse de estrategias de fidelizaci√≥n o programas exclusivos.

Mediante an√°lisis exploratorios y agrupamientos, se detectaron patrones de comportamiento no evidentes en la Parte 1, como similitudes entre grupos demogr√°ficos o h√°bitos de compra comunes entre perfiles distintos.

Estas conclusiones sientan las bases para una toma de decisiones m√°s estrat√©gica en t√©rminos de marketing y personalizaci√≥n, alineando las acciones comerciales con las caracter√≠sticas reales de la base de clientes.